body{
    font-family: "Droid Sans", arial, sans-serif;
    font-weight: 800;
    color: #F8CC00;
    background-color: #000;
    overflow: hidden;
    font-size:45px;
}

.episode-titles{
    position: absolute;
    width:900px;
    height: 1000px;
    bottom: 0;
    left: 29%;
    text-align: justify;
    transform-origin: 50% 90%;
    transform: perspective(400px) rotateX(25deg);
}
.title-content{
    position: absolute;
    animation: scroll 30s linear infinite;
}
.episode-title-content-description{
    text-align: center;
}
.text-right-position{
    text-align: right;
}
.text-left-position{
    text-align: left;
}

.episode-title-content{
    position: absolute;
    animation: scroll 30s linear infinite;
}
.episode-title::after {
    position: absolute;
}
@keyframes scroll {
    0% {top: 100%;}
    100% {top: -100%;}
}
